name: CI

on: [push, pull_request]

jobs:
  CI:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ "^1.14", "^1.15" ]

    name: Go ${{ matrix.go }} CI
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: lint
        run: go vet src/*
